<form action="/memos/<%= @memo['id'] %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <label for="title">タイトル</label><br>
    <input name="title" id="body" value='<%= @memo['title'].force_encoding('UTF-8') %>'>
  </div>
  <div>
    <label for="body">内容</label><br>
    <textarea name="body" id="to"><%= @memo['body'].force_encoding('UTF-8') %></textarea>
  </div>
  <div>
    <button>保存</button>
  </div>
</form>
