<form action="/memos/<%= @title %>" method="POST">
  <input type="hidden" name="_method" value="PATCH">
  <div>
    <label for="title">タイトル</label><br>
    <input name="title" id="body" value='<%= @title %>'>
  </div>
  <div>
    <label for="body">内容</label><br>
    <textarea name="body" id="to"><%= @body %></textarea>
  </div>
  <div>
    <button>保存</button>
  </div>
</form>
