<p><a href='/memos/new'>追加</a></p>

<ul>
  <% @memos.each do |memo| %>
    <% title = memo['title'].force_encoding('UTF-8') %>
    <li><a href='<%= "memos/#{title}" %>'><%= title %></a></li>
  <% end %>
</ul>

