<form action="/memos" method="POST">
  <div>
    <label for="title">タイトル</label><br>
    <input name="title" id="body" value="">
  </div>
  <div>
    <label for="body">内容</label><br>
    <textarea name="body" id="to"></textarea>
  </div>
  <div>
    <button>保存</button>
  </div>
</form>